<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="A constant misadventure with Zac Echola" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1 id="title">
        This is not a teapot. <a href="418.html">This</a> is a teapot.
      </h1>
      <h2 id="subtitle">
      You are at a website. It may or may not interest you. I don't care.
      </h2>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a>
      </footer>
    </div>
  </body>
</html>
